@import './constants.scss';

div.album {
    width: 150px;
    padding: 0px 8px;
    margin-bottom: 15px;

    a {
        &:active {
            text-decoration: none;
        }
    }

    img {
        max-width: 150px;
        cursor: pointer;
    }

    p {
        text-align: center;
        margin: 10px 0px;

        &.title {
            color: $white;
        }

        &.artist {
            color: $veryLightGray;
        }
    }
}
