$black: rgb(0, 0, 0);
$darkGray: rgb(51, 51, 51);
$nearBlack: rgba($darkGray, 0.4);
$gray: rgb(94, 94, 94);
$lightGray: rgb(134, 134, 134);
$veryLightGray: rgb(172, 170, 170);
$blue: rgb(17, 179, 243);
$lightBlue: rgb(117, 184, 247);
$white: rgb(255, 255, 255);

@mixin primaryFont {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

// Export any variables that we want to access in jsx here
:export {
    blue: $blue;
}
