@import './constants.scss';

div#main-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            height: 40px;
            width: 40px;
            color: $white;
            background-color: $darkGray;
            border: 1px solid $veryLightGray;
            border-radius: 8px;
            margin: 5px 10px 10px 10px;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:hover {
                border-color: $white;
            }

            &.active {
                color: $blue;
                border-color: $blue;
            }

            &.small {
                height: 30px;
                width: 30px;
            }
        }

        &#scan-control {
            justify-content: space-between;
            color: $veryLightGray;

            input {
                width: 85%;
            }
        }
    }
}
