@import './constants.scss';

div#main-controls {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        color: $white;
        background-color: $darkGray;
        height: 45px;
        width: 45px;
        border: 2px solid $blue;
        margin: 10px;
        border-radius: 8px;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}
