@import './constants.scss';

body {
    background-color: $black;
    margin: 0px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    // See navbar.scss for remaining nav styles
    nav {
        flex: none;
    }

    #main-content {
        display: flex;
        flex: 1;
        overflow-y: auto;

        section {
            flex: 3;
            padding: 0px 15px;
        }

        aside {
            flex: 1;
            background-color: $lightGray;
        }
    }

    #player-container {
        flex: none;
    }
}
