@import './constants.scss';

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $nearBlack;
    padding: 0px 20px;
    height: 100%;

    a {
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
        margin-top: 15px;

        &.active {
            color: $blue;
            text-decoration: none;
        }
    }
}
