@import './config/constants.scss';

.navBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $nearBlack;
    padding: 0px 20px;
    height: 100%;

    a {
        color: $veryLightGray;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 15px;

        &.active {
            color: $white;
        }

        &:hover {
            color: $blue;
        }
    }
}

.logoContainer {
    font-weight: bold;
    font-size: 24px;
    margin: 15px 0px;

    span.logo {
        color: $blue;
        border: 2px solid $blue;
        border-radius: 5px;
        margin-right: 12px;
    }
}
