@import './constants.scss';

nav {
    height: 60px;
    background-color: $black;
    border: $blue 2px solid;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
        color: $blue;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: $blue;
        margin: 0px 15px;

        &.active {
            color: $white;
            text-decoration: none;
        }
    }
}
