@import './config/constants.scss';

$sliderHeight: 8px;
$trackHeight: 4px;

input.slider {
    -webkit-appearance: none;
    background: transparent;
    overflow: hidden;
    height: $sliderHeight;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        &::-webkit-slider-thumb {
            box-shadow: -100vw 0 0 100vw $blue;
        }
    }
}

input.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: $trackHeight;
    background-color: $lightGray;
}

input.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: $sliderHeight;
    width: 8px;
    margin-top: -2px;
    background: $white;
    box-shadow: -100vw 0 0 100vw $veryLightGray;
}
