@import './config/constants.scss';

.songTable {
    width: 100%;
    border-collapse: collapse;
    color: $white;

    thead {
        tr {
            th {
                color: $veryLightGray;
                height: 40px;
                text-transform: uppercase;
                text-align: left;
            }
        }
    }
}
