@import './constants.scss';

table {
    width: 100%;
    border-collapse: collapse;
    color: $white;

    thead {
        tr {
            background-color: $black;

            th {
                height: 40px;
                text-transform: uppercase;
                text-align: left;
            }
        }
    }

    tbody {
        tr {
            cursor: pointer;

            &.current {
                color: $blue;
            }

            &:nth-child(odd) {
                background-color: $darkGray;
            }

            &:nth-child(even) {
                background-color: $black;
            }

            td {
                height: 30px;
            }
        }
    }
}
