@import './constants.scss';

table {
    width: 100%;
    border-collapse: collapse;
    color: $white;

    thead {
        tr {
            background-color: $black;

            th {
                color: $veryLightGray;
                height: 40px;
                text-transform: uppercase;
                text-align: left;
            }
        }
    }

    tbody {
        tr {
            cursor: pointer;
            background-color: $black;
            border-top: 2px solid $darkGray;
            border-bottom: 2px solid $darkGray;

            &.current {
                color: $blue;
            }

            &:hover {
                background-color: $darkGray;
            }

            td {
                height: 35px;
            }
        }
    }
}
